<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>420</title>
    <script src="/static/wasm_exec.js"></script>
    <script src="/static/brotli.js"></script>
    <style>
        body {
            margin: 0;
            overflow: hidden;
        }

        canvas {
            display: block;
        }

        #loading-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-family: sans-serif;
            font-size: 24px;
            color: #000;
        }
    </style>
</head>

<body>
    <div id="loading-text">Loading...</div>
    <script src="/static/loader.js"></script>
</body>

</html>